body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: #ffffff;
}
/*タイトルの編集*/
.title{
  font-size:120%; /*フォントサイズの調整*/
  color:#313131; /*文字色の変更*/
  padding-top: 0px; /*文字上部に余白*/
  padding-bottom: 0px; /*文字下部に余白*/
  padding-left: 10px; /*文字左側に余白*/
  padding-right: 10px; /*文字右側に余白*/
  border:1px solid #313131; /*文字の周りに線を描く*/
  border-radius: 5px; /*線の角に丸みを付ける*/
  letter-spacing: 5px; /*文字と文字の間隔をあける*/
  font-weight:400; /*文字の太さの変更*/
  height: 30px;
  padding: auto auto;
}

/*テキストエリアの調整*/
.posts_box {
  background-color: #778899;
  padding: auto auto;
  margin: 40px auto 0;
}
textarea {
  resize: none;
  height: 40px;
  width: 630px;
  margin: 0 auto;
  font-size: larger;
}
.url_box {
  float: left;
}
.url_posts {
  width: 500px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


/*ボタンの調整*/
.button_location {
  float: right;
}
.submit_button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  width: 100px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: larger;
  border-radius: 8px;
}
.submit_button::before,
.submit_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.submit_button,
.submit_button::before,
.submit_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.submit_button:hover {
  letter-spacing: 5px;
}


/*ヘッダーの調整*/

.header {
  position: fixed;
  height: 40px;
  width: 100%;
  background-image: url("videobox/app/assets/image/header_cover.png");
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  top: 0;
}

.flexbox {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  /*水平方向に中央揃え*/
  justify-content: center;
  justify-content: space-around;
  -webkit-align-items: stretch;
  /*垂直方向に中央揃え*/
  align-items: stretch;
  text-align: center;
  height: auto;
  padding: auto 0;
  margin: 0 auto;
}

/*コンテンツの調整*/

.contents {
  background-color: #ffffff;
  width: 640px;
  margin: 0 auto;
}
.posts_name {
  float: left;
}
.posts_text {
  float: left;
}


.card_design {
  border-bottom: 8px solid #f0f0f0;

}
























