body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

li {
  display: block;
  clear: both;
}

li a {
  text-decoration: none;
  float: right;
}

header {
  background-color: #ffffff;
}

/*テキストエリアの調整*/
.posts_box {
  background-color: #778899;
  padding: auto auto;
}
.post_textarea {
  resize: none;
  height: 100px;
  width: 520px;
  margin: 0 auto;
  font-size: larger;
}
.comment_textarea {
  resize: none;
  height: 40px;
  width: 630px;
  margin: 0 auto;
  font-size: larger;
}
.url_box {
  float: left;
}
.url_posts {
  width: 520px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


/*POSTボタン*/
.button_location {
  float: right;
}
.submit_button {
  display: inline-block;
  background-color: #998E99s;
  color: #fff;
  width: 100px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: larger;
  border-radius: 8px;
}
.submit_button::before,
.submit_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.submit_button,
.submit_button::before,
.submit_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.submit_button:hover {
  letter-spacing: 5px;
}


/*ヘッダーの調整*/

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-image: url("header_cover.png");
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  top: 0;
}

.side_header {
  width: 25%;
  float: left;
}

.left_header {
  float: left;
  height: 60px;
  width: 33%;
}

.right_header {
  float: right;
  height: 60px;
  width: 33%;
  margin-top: 0px;
}

.menu_button {
  margin: 0 auto;
  top: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}


/*コンテンツの調整*/

.contents {
  background-color: #ffffff;
  width: 640px;
  margin: 60px auto 0;
}
.posts_name {
  float: left;
}
.posts_text {
  float: left;
}

.card_design {
  border-bottom: 8px solid #f0f0f0;
}


/*モーダルの実装*/

#modal-content {
 width: 40% ;
 margin: 0 ;
 padding: 10px 20px ;
 border: 2px solid #aaa ;
 background: #fff ;
 position: fixed ;
 display: none ;
 z-index: 2 ;
}
#modal-content-innar{
 margin:0 auto;
 width:80%;
}
#modal-overlay {
 z-index: 1 ;
 display: none ;
 position: fixed ;
 top: 0 ;
 left: 0 ;
 width: 100% ;
 height: 120% ;
 background-color: rgba( 0,0,0, 0.75 ) ;
}
.button-link {
 color: #00f ;
} 
.button-link:hover {
 cursor: pointer ;
 color: #f00 ;
}
.back_button-link {
  float: right;
  top: 0px;
}









